<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coffeemember.mapper.MemberMapper">

    <update id="createMemberTable" parameterType="MemberVO">
        create table member(
            id number primary,
            membername varchar2(50)
        )
    </update>

    <insert id="insertMemberDate" parameterType="MemberVO">
        insert into member values(1, 'kim');
    </insert>

    <select id="exitsByMemberName" parameterType="MemberVO" resultType="MemberVO">
        select * from where membername = #{memberName}
    </select>
    
</mapper>




